{% extends 'base.html' %} 
{% load static %} 

{% block meta %}

<!-- <link href="{% static 'css/authentication.css' %}" rel="stylesheet" />
<link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous" -->

    <title>Pembelian Tiket</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
{% endblock meta %} 

{% block content %}
<div class="container mt-5">
  <h1>PILIH STADIUM</h1>
  <form>
    <div class="form-group">
      <label for="stadiumSelect">Stadium:</label>
      <select class="form-control" id="stadiumSelect">
        <option>Stadium A</option>
        <option>Stadium B</option>
        <option>Stadium C</option>
        <option>Stadium D</option>
      </select>
    </div>
    <div class="form-group">
      <label for="dateInput">Tanggal:</label>
      <input type="date" class="form-control" id="dateInput">
    </div>
    <button type="submit" class="btn btn-primary">NEXT</button>
  </form>
  <hr>
  <h2>List Waktu Stadium [Nama Stadium]</h2>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      07.00 - 09.00
      <button type="button" class="btn btn-primary">Next</button>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      09.00 - 11.00
      <button type="button" class="btn btn-primary">Next</button>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      11.00 - 13.00
      <button type="button" class="btn btn-primary">Next</button>
    </li>
  </ul>
  <hr>
  <h2>List Pertandingan</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Tim 1</th>
        <th scope="col">Tim 2</th>
        <th scope="col">Pilih</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>A</td>
        <td>B</td>
        <td><button type="button" class="btn btn-primary">Pilih</button></td>
      </tr>
      <tr>
        <td>C</td>
        <td>D</td>
        <td><button type="button" class="btn btn-primary">Pilih</button></td>
      </tr>
      <tr>
        <td>E</td>
        <td>F</td>
        <td><button type="button" class="btn btn-primary">Pilih</button></td>
      </tr>
      <tr>
        <td>F</td>
        <td>G</td>
        <td><button type="button" class="btn btn-primary">Pilih</button></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script


{% endblock content %}
