{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Manage Pertandingan</title>

{% if messages %}
<div class="alert alert alert-dismissible alert-success">


    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<!-- Style -->
<link href="{% static 'css/mulai-pertandingan.css' %}" rel="stylesheet" /> {% endblock meta %} {% block content %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Tim 1</th>
                <th>Tim 2</th>
                <td>Pemenang</td>
                <td>Waktu</td>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for pertandingan in pertandingan_data %}
            <tr>
                <td>{{ pertandingan.tim_1 }}</td>
                <td>{{ pertandingan.tim_2 }}</td>
                <td>{{pertandingan.pemenang}}</td>
                <td>{{pertandingan.waktu}}</td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#peristiwaModal1{{pertandingan.id}}">Lihat Peristiwa Tim 1</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#peristiwaModal2{{pertandingan.id}}">Lihat Peristiwa Tim 2</button>
                </td>
            </tr>

            <!-- Modal 1 -->
            <div class="modal fade" id="peristiwaModal1{{pertandingan.id}}" tabindex="-1" role="dialog" aria-labelledby="peristiwaModal1{{pertandingan.id}}Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="peristiwaModal2{{pertandingan.id}}Label">Peristiwa Tim 2</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% for peristiwa in pertandingan.peristiwa_tim_1 %}
                            <div class="card mb-2">
                                <div class="card-body">
                                    <h4 class="card-title">{{ peristiwa.nama_pemain }}</h4>
                                    <p class="card-text">Waktu: {{ peristiwa.waktu }}</p>
                                    <p class="card-text">Jenis: {{ peristiwa.jenis }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal 2 -->
            <div class="modal fade" id="peristiwaModal2{{pertandingan.id}}" tabindex="-1" role="dialog" aria-labelledby="peristiwaModal2{{pertandingan.id}}Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="peristiwaModal2{{pertandingan.id}}Label">Peristiwa Tim 2</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% for peristiwa in pertandingan.peristiwa_tim_2 %}
                            <div class="card mb-2">
                                <div class="card-body">
                                    <h4 class="card-title">{{ peristiwa.nama_pemain }}</h4>
                                    <p class="card-text">Waktu: {{ peristiwa.waktu }}</p>
                                    <p class="card-text">Jenis: {{ peristiwa.jenis }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock content %}