{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Pesan Stadium</title>

<!-- Style -->
<link href="{% static 'css/pesan-stadium.css' %}" rel="stylesheet" />

{% endblock meta %}

{% block content %}
<div class="d-flex align-items-center h-100 pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="d-flex justify-content-center me-4">
                <h2 class="green">Pesan Stadium</h2>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <form class="p-5">
                    <div class="form-group row pb-4">
                        <label for="stadium" class="col-sm-2 col-form-label">Stadium</label>
                        <div class="col-sm-10">
                            <select id="stadium" class="form-select">
                                <option selected>Pilih stadium yang tersedia</option>
                                <option value="GBK">Gelora Bung Karno</option>
                                <option value="GBLA">Gelora Bandung Lautan Api</option>
                                <option value="JIS">Jakarta International Stadium</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="tanggal" class="col-sm-2 col-form-label">Date</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" name="date-field" id="tanggal" />
                        </div>
                    </div>
                </form>
                <div class="d-flex justify-content-center me-4 mt-5">
                    <a href="/manajer/peminjaman-stadium/pesan/pilih-waktu">
                        <button class="button">
                            <span class="pe-2">Pilih waktu peminjaman</span>
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.39205 11.2102L5.36932 10.1988L8.92045 6.64768H0V5.17041H8.92045L5.36932 1.62496L6.39205 0.60791L11.6932 5.90905L6.39205 11.2102Z" fill="currentColor"></path>
                            </svg>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}