{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Peminjaman Stadium</title>

<!-- Style -->
<link href="{% static 'css/peminjaman-stadium.css' %}" rel="stylesheet" />
{% endblock meta %}

{% block content %}
<div class="d-flex align-items-center h-100 pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="d-flex justify-content-center me-4">
                <h2 class="green">Riwayat Peminjaman Stadium</h2>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="pertandingan-table">
                    <form method="POST">
                        {% csrf_token %}
                    <table class="table table-borderless table-striped">
                        {% if history_peminjaman %}
                        <thead>
                        <th>Stadium</th>
                        <th>Tanggal Peminjaman</th>
                        <th></th>
                        </thead>
                        <tbody>
                        {% for item in history_peminjaman %}
                            <tr>
                                <td>{{item.nama}}</td>
                                <td>{{item.start_datetime}}</td>
                                <td>
                                    <button type="submit" name="index" value={{item.row_number}}>
                                        Edit
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        {% else %}
                        <p class="text-center py-5">Anda belum melakukan peminjaman</p>
                        {% endif %}
                    </table>
                    </form>
                </div>
                <div class="d-flex justify-content-center me-4">
                    <a href="/peminjaman_stadium/pesan">
                        <button type="button">
                            Pesan Stadium
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}