{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Peminjaman Stadium</title>

<!-- Style -->
<link href="{% static 'css/peminjaman-stadium.css' %}" rel="stylesheet" />
{% endblock meta %}

{% block content %}
<div class="d-flex align-items-center h-100 pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="d-flex justify-content-center me-4">
                <h2 class="green">Riwayat Peminjaman Stadium</h2>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="pertandingan-table">
                    <table class="table table-borderless table-striped">
                        <thead>
                        <th>Stadium</th>
                        <th>Waktu Mulai</th>
                        <th>Waktu Akhir</th>
                        </thead>
                        <tbody>
                        {% for item in history_peminjaman %}
                            <tr>
                                <td>{{item.0}}</td>
                                <td>{{item.1}}</td>
                                <td>{{item.2}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center me-4">
                    <a href="/peminjaman_stadium/pesan">
                        <button type="button">
                            Pesan Stadium
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}