{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Pesan Stadium</title>

<!-- Style -->
<link href="{% static 'css/pesan-stadium.css' %}" rel="stylesheet" />

{% endblock meta %}

{% block content %}
<div class="d-flex align-items-center h-100 pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="d-flex justify-content-center me-4">
                <h2 class="green">Pilih Waktu Peminjaman</h2>
            </div>
            <div class="d-flex justify-content-center me-4">
                <h3 class="green">Stadium Gelora Bung Karno</h3>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <form class="px-5 py-3">
                    <table class="table table-borderless table-striped">
                        <thead>
                        <th>Waktu tersedia</th>
                        <th></th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>06.00-08.00</td>
                            <td><button name="waktu" type="submit" value="">Pesan</button></td>
                        </tr>
                        <tr>
                            <td>10.00-12.00</td>
                            <td><button name="waktu" type="submit" value="">Pesan</button></td>
                        </tr>
                        <tr>
                            <td>16.00-18.00</td>
                            <td><button name="waktu" type="submit" value="">Pesan</button></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}