{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Pesan Stadium</title>

<!-- Style -->
<link href="{% static 'css/pesan-stadium.css' %}" rel="stylesheet" />

{% endblock meta %}

{% block content %}
<div class="d-flex align-items-center h-100 pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="d-flex justify-content-center me-4">
                <h2 class="green">Pilih Waktu Peminjaman</h2>
            </div>
            <div class="d-flex justify-content-center me-4">
                <h3 class="green">{{ stadium_name }}</h3>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <form method="POST" class="px-5 py-3">
                    {% csrf_token %}
                    <table class="table table-borderless table-striped">
                        <thead>
                        <th>Waktu tersedia</th>
                        <th></th>
                        </thead>
                        <tbody>
                        {% for time in available_times %}
                            <tr>
                                <td>{{ time.start }} - {{ time.end }}</td>
                                <td><button type="submit" name="time" value="{{ time }}">Pesan</button></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}